.header {
  width: 100%;
  max-width: 576px;
  height: 84px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;
  flex-shrink: 0; /* 줄어들지 않게 */
}

.header_main_title {
  font-size: 20px;
  font-weight: 600;
}

.header_sub_title {
  font-size: 14px;
  color: #757575;
}
