.button_section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button_item {
  width: 112px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #757575;
  transition: color 0.3s ease;
  cursor: pointer;
}

.button_item:hover {
  background-color: #f8f8f8;
}
