.container {
  width: 100%;
  height: 100dvh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  width: 100%;
  max-width: 576px;
  height: 64px;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0; /* 줄어들지 않게 */
}

.logo {
  width: 24px;
  height: 24px;
  color: #353e3d;
  cursor: pointer;
}

.body_top {
  width: 100vw;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  background-color: #f9fafb;
  border-top: 1px solid #e8e8e8;
}

.body_top_section {
  width: 100%;
  max-width: 536px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character_img {
  width: 100%;
  max-width: 200px;
  height: 180px;
  position: relative;
}

.user_info {
  width: 100%;
  max-width: 320px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.user_level {
  width: 100px;
  height: 40px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfedfe;
  color: #368bb5;
  font-size: 14px;
}

.user_name {
  font-size: 24px;
}

.body_bottom {
  width: 100vw;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  background-color: #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
}

.body_bottom_section {
  width: 100%;
  max-width: 480px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info_box {
  width: 100%;
  max-width: 100%;
  height: 62px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.info_item {
  width: 100%;
  max-width: 44%;
  max-height: 62px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info_item_name {
  font-size: 12px;
  color: #757575;
}

.info_item_value {
  font-weight: 600;
}
